<!DOCTYPE html>
<html>
<head>
<title>운동 소개</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="../css/thislife.css" />
<script src="https://kit.fontawesome.com/c6990250a5.js" crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="prefixfree.min.js"></script>
<script type="text/javascript" src="../js/thislife.js"></script>


</head>
<body>
	<div id="body">
		<div id="title">
			<h1 data-name="information">Information</h1>
			<h1 data-name="character">Character</h1>
			<h1 data-name="multimedia">Multimedia</h1>
		</div>

		<section id="container">
			<!-- 메인 페이지 -->
			<div id="main" data-name="main" class="active">
				<img src="../image/contentback.jpg" />
			</div>

			<!-- 정보 페이지 -->
			<div id="information" data-name="information">
				<img src="../image/이번생도.jpg" width="300px" height="500px" />
				<div class="description">
					<h1>이번 생도 잘 부탁해</h1>
					<p>우리는 어떻게 살아야, 그리고 어떤 선택을 해야 행복해질 수 있을까요? <br/>여기, 죽음을 열여덟 번이나 겪었던
						여자와 소중한 사람의 죽음 이후, 세상의 문을 닫아버린 남자가 있습니다. 무려 천 년에 이르는 열여덟 번의 전생을 가진
						여자는 열아홉 번째에는 '반지음'이라는 여자의 육신으로 깨어났습니다.<br/><strong> '왜 나만 전생을 기억하는 걸까?'</strong> 설명할 수도,
						말할 수도 없는 고민을 안고 살아가는 중입니다. 하지만 이번 생엔, 뚜렷한 목적이 있습니다. 짧게 타오르다 끝나버린
						전생에서부터 시작된- '문서하'를 다시 만나는 것. 멈춰 있는 시간에서, '문서하'를 다시 움직이게 하는 것.<br/> 살아있는
						순간까지, 따뜻하게 잡은 그의 손을 놓지 않는 것. 이 드라마는 전생을 기억하는 한 여자의 저돌적인 사랑을 응원하는
						이야기이자, 죽음 뒤에 남겨진 사람들에게는 위로가 닿길 바라는 이야기입니다. 그리고 모두가 각자의 선택과 방식으로
						행복해지길 진심으로 바라며.. "이번 생도 잘 부탁해!"</p>
				</div>
			</div>

			<!-- 캐릭터 페이지 -->
			<div id="character" data-name="character">
				<a href="#">Left Button</a> <a href="#">Right Button</a>

				<article class="show">
					<h1>신혜선</h1>
					<h2>MI호텔 전략기획팀 팀원 (前 MI모비티 선임연구원)</h2>
					<img src="../image/반지음.png" /> <img src="../image/신혜선.jpg" />
					<p>
						<strong>"서하야, 이번 생은 온전히 너를 만나기 위해 태어난 거야."<br/></strong><br /> 천년을 살아온
						내공이 착착 쌓여 만들어졌다. 멋지고 대찬 기세, 따뜻하지만 쿨한 성품, 신이 '반'할 정도로 '지'어냈'음'을 줄인
						이름, '반지음'이다.<br /> 이번 생은 쉽지 않았다. 지질하게 가난하고 불우한 가정, 애저녁에 도망간 엄마,
						알콜중독 아빠, 양아치 같은 오빠.. 정체 모를 불안과 이유 없는 슬픔이 그림자처럼 따라다녔고… 계속 뭔가를 기다리는
						기분이 들었다.<br /> 그러다 9살 여름 오후에, 전생의 모든 기억이 돌아왔다.<br /> (18회차 인생 :
						윤주원, 17회차 인생 : 김중호…)
					</p>
				</article>

				<article>
					<h1>안보현</h1>
					<h2>MI호텔 전략기획팀 전무</h2>
					<img src="../image/문서하.png" /> <img src="../image/안보현.jpg" />
					<p>
						눈동자에 많은 생각이 서려 있는 쓸쓸한 눈빛.<br/> 마음속은 아직도 소년인 채로 상처 속에 머물러있을 때가 있다.<br />
						무수한 사람들이 곁에 머물고자 했으나 그는 매정하게 쳐냈다. <strong>'결국엔 이 또한 떠나겠지,
							사라지겠지, 죽겠지.'</strong> 싶은 두려움 때문이었다. <br />아버지는 늘 바빴고 어머니는 깊은 사랑을 줬지만 병이
						깊어 곁에 있어줄 시간이 없었다.<br /> 그런 서하를 '사랑스러운 아이'로 봐준 유일한 사람이 '주원 누나'였다
					</p>
				</article>

				<article>
					<h1>안동구</h1>
					<h2>서하의 비서이자 절친</h2>
					<img src="../image/하도윤.png" /> <img src="../image/안동구.jpg" />
					<p>
						서하의 비서이자 절친.<br/> 엄마를 대신해 태어난 늦둥이 동생을, 한 번도 미워한 적 없는, 속 깊은 아이였고, 아버지 속
						썩일 일 걱정 없이, 공부든 운동이든 뭐든 처음부터 잘하던 아이였다.<br /> 하지만 아버지의 갑작스러운 죽음 이후,
						끔찍한 세상으로 나가떨어졌다.<br /> 아홉 살의 도윤은 자신의 상처를 돌볼 겨를도 없이, 빈자리를 홀로 채웠다.
					</p>
				</article>
			</div>

			<div id="multimedia" data-name="multimedia">




				<iframe width="800" height="450"
					src="https://www.youtube.com/embed/GyxIbo_zl9s"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen> </iframe>




			</div>

			<div id="download" data-name="download">
				<h1>리뷰/후기</h1>
				<div>
					<section class="project-card">
						<section class="project-thumbnail" id="project-macbook">
						<div class="dc"><i class="fa-solid fa-star fa-3x" style="color : green" ></i>
							<p>드라마화된 웹툰치고 시작은 좋네요...!<br/>
							어린 시절을 연기한 박소이 배우님의 하드캐리한 연기가 빛났어요<br/>
							다음화 부터 신혜선 배우분의 활약이 예고되어 있는데 정말 기대되네요<br/>
							로맨스 드라마 좋아하는 분들께 적극 추천해요!</p>
						</div>
						<div class="dc"><img src = "../image/이번생도.jpg" width="150" height="250"></div>
						</section>
						<section class="project-explain">
						<div id="heart" class="d"><i class="fa-solid fa-heart fa-2x" style="color : white">4.0</i></div>
						<div id="comment" class="d"><a href="review.html"><i class="fa-regular fa-comment-dots fa-2x" style="color : white">댓글</i></a></div>
						<div id="share" class="d"><i class="fa-solid fa-share fa-2x" style="color : white">공유</i></div>
						</section>
					</section>
				</div>
				</p>
			</div>
		</section>

		<nav id="main_navigation">
			<ul>
				<li><a href="#" data-target="information">Movie Info</a></li>
				<li><a href="#" data-target="character">Character</a></li>
				<li><a href="#" data-target="multimedia">Multimedia</a></li>
				<li><a href="#" data-target="download">Download</a></li>
			</ul>
		</nav>
	</div>


</body>
</html>
